h2 {
    text-align: center;
    padding: 40px;
}

.Card2 { 
    background-color: #fac213;
    width: 350px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    display:block;
    margin:auto;
    align-items: center;
    justify-content: center;
}

.texto2 { 
    text-align: center;
    display: block;
    padding-top: 100px;
    margin: .6rem
}

.texto2{
    text-align: center;

}

.correo{
    font-size: 18px;
    
}

.text3 {
    padding: 5px;
    font-size: 18px;
}

.butto{
  text-align: center;
  padding: 35px;
}

.boon1{
  border: none;
  background-color: #a760ff;
  color: white;
  padding: 10px 22px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid black;
  transition-duration: 0.4s;

}

.boon1:hover{
  background-color: #FF87CA;
  color: white;
}

.input2{
    text-align: center;
    padding: 5px;
    margin: .6rem
}
