.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  
  
  
  }
  
  .titulocomentarioscli{
  
    text-align: center;
  }
  
  .cardst {
    margin: 30px auto;
    width: 300px;
    height: 430px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    background-color: #e0e0e0;
  }
  
  .cardst .card_image  {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .cardst .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .cardst .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: -10px;
    height: 40px;
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card_parrafo{
     
      font-family: sans-serif;
      font-size: 15px;
      padding: 20px;
      margin-top: -410px;
      border-radius: 40px;
     
  
  }
  
  .cardst:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
   
  
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }