.contenedor-inicio {
    padding: 10px
}

h2 {
    text-align: center;
    padding: 40px;
}

.detalleclidue{
    text-align: center;
    padding: 40px;
    
}
.contenedor-imagen {
    margin-top:50px;
    display:flex;
    justify-content: center;
    
}

.imagen-inicio{
    width: 280px;
    margin: 0 50px;




    }