.contenedor-mi-cuenta-cli{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.formulario-cli { 
    background-color: #fac213;
    height: 635px;
    width: 415px;
    border-radius: 5px;
}

.form-cli { 
    padding-top: 29px;
    
    width: 98%;
    text-align-last: center;

}


.label-cli{
    width: 108px;
    padding: 0 10px 0 20px;
    font-size: 18px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    /* margin-left: 29px; */
    text-align: right;
}
.input-cli{
    margin: 4px;
    height: 14px;
    width: 300px;
    text-align-last: left;
    height: 32px;
    border-radius: 6px;
    border: none;
}



.micuenta-select{
    height: 32px;
    background-color: white;
    width: 252px;
}

.boton-modi-cli{
    font-size: 18px;
    border: none;
    background-color: #a760ff;
    color: white;
    /* margin-top: -28px; */
    width: 307px;
    height: 32px;
    border-radius: 5px;
    margin-top: 22px;

}

.boton-modi-cli:hover{
  background-color: #FF87CA;
  color: white;
}


.comunas{
    color: #030303;
    font-family: Georgia, "Times New Roman", Times, serif;
}


.contenedor-mi-cuenta-div {
    display: flex;
    place-items: center;
    margin: 12px;

}